extends layout

block content
    // Extending or using created layout from 'layout.pug' file   
    // This is how we can call variables from 'app.js' file 
    h2 Register user
    // Creating form to add users 
    form(method='POST', action='/users/register')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Email:
            input.form-control(name='email', type='text')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
        #form-group
            label Password:
            input.form-control(name='password', type='password')
        #form-group
            label Confirm:
            input.form-control(name='password2', type='password')
        br
        input.btn.btn-primary(type='submit', value='Submit')       